@tailwind base;  
@tailwind components;  
@tailwind utilities; 

body {  
  font-family: Arial, sans-serif;  
  margin: 0;  
  padding: 0;  
  background-color: #f4f4f9;  
}  

.header {  
  position: relative;   
  display: flex;  
  flex-direction: column;  
  background-color: #282c34;  
  padding: 20px;  
  color: white;  
  min-height: 150px; /* Достаточная высота для содержимого */  
  text-align: center;  
}

header h1 {  
  margin: 0 auto; /* Оставляем h1 по центру */  
  font-size: 30px;
} 

header h3 {  
  position: absolute;  
  bottom: 10px; /* Расположение внизу контейнера */  
  right: 10px; /* Расположение справа */  
  margin: 0;  
  text-align: right;  
  white-space: nowrap; /* Предотвращает перенос строки */  
  font-size: 1rem; /* Стандартный размер шрифта */  
} 

.add-workout-form {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  margin: 20px;  
}  

.input {  
  margin: 5px;  
  padding: 10px;  
  width: 80%;  
  max-width: 300px;  
  border: 1px solid #ccc;  
  border-radius: 5px;  
}  

.add-button, .end-button {  
  padding: 10px 20px;  
  background-color: #61dafb;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;  
  margin-top: 10px;  
  }  

.add-button:hover, .end-button:hover {  
  background-color: #21a1f1;  
}  

.workout-list {  
  margin: 20px;  
  padding: 10px;  
  background-color: white;  
  border-radius: 5px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

.workout-item {  
  margin-bottom: 10px;  
}  

@media (max-width: 600px) {  
  .input {  
    width: 90%;  
  }  

  .add-button, .end-button {  
    width: 90%;  
  }  

  header h3 {  
    font-size: 0.85rem; /* Уменьшаем размер шрифта на мобильных устройствах */  
  }
}

@media (max-width: 600px) {  
  header h3 {  
    position: absolute;  
    bottom: 10px; /* Расположение внизу */  
    right: 10px; /* Расположение справа */  
    margin: 0;  
    text-align: right;  
    white-space: nowrap; /* Предотвращает перенос строки */  
  }  
}  
