body {  
  font-family: Arial, sans-serif;  
  margin: 0;  
  padding: 0;  
  background-color: #f4f4f9;  
}  

.header {  
  display: flex;
  flex-direction: column;
  background-color: #282c34;  
  padding: 20px;  
  color: white;  
  text-align: center;  
}  

header h3{
  position: relative;
  left: 350px;
  top: 30px;
}

.add-workout-form {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  margin: 20px;  
}  

.input {  
  margin: 5px;  
  padding: 10px;  
  width: 80%;  
  max-width: 300px;  
  border: 1px solid #ccc;  
  border-radius: 5px;  
}  

.add-button {  
  padding: 10px 20px;  
  background-color: #61dafb;  
  border: none;  
  border-radius: 5px;  
  cursor: pointer;  
  margin-top: 10px;  
}  

.add-button:hover {  
  background-color: #21a1f1;  
}  

.workout-list {  
  margin: 20px;  
  padding: 10px;  
  background-color: white;  
  border-radius: 5px;  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  
}  

.workout-item {  
  margin-bottom: 10px;  
}  

@media (max-width: 600px) {  
  .input {  
    width: 90%;  
  }  

  .add-button {  
    width: 90%;  
  }  
}
